// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$accent-color: #ff2929;
$title-color: #1c1c1c;
$paragraph: #7e7e7e;
$span-color: #747691;
$main-link-color: #10111e;
$green-label: #84b77c;
$blue-label: #467FAD;
$red-label: #E33434;
$gold-label: #f1c232;

$checkbox-color:#E33434;
$radio-color:#E33434;

$banger-color: #ec3333;
$success-color: #009e0f;

$rounded-border: 10px;
